<!-- Matomo Tag Manager -->
<script type="text/javascript">
    var _mtm = window._mtm = window._mtm || [];
    _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
    {% if user.is_authenticated %}_mtm.push({'uid':'{{user.id}}' });{% endif %}
    {% block extra_matomo_mtm %}
    {% endblock %}
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src='https://{{matomo_url}}/js/container_{{matomo_container}}.js'; s.parentNode.insertBefore(g,s);
</script>
<!-- End Matomo Tag Manager -->