<!-- WeChat Share -->
<script type="text/javascript" src="https://res2.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
<script type="text/javascript">
    $().ready(function() {
        {% block wechat_share_options %}
        var imgUrl = '{{share_image}}';
        var shareOptions = {
            title: '{{title}}',
            desc: '{{desc}}',
            link: '{{share_link}}',
            imgUrl: imgUrl,
            success: function (res) { 
                // 分享成功
                console.log('share success: ', res);
            },
            cancel: function (res) { 
                // 用户取消分享
                console.log('share cancel: ', res);
            }
        };
        {% endblock %}
        var noncestr = "{{noncestr}}";
        var timestamp = new Date().getTime().toString();
        var fInitWeixin = function(d) {
            wx.config({
                debug: {{wechat_debug}},
                appId: '{{wechat_appid}}',
                timestamp: timestamp,
                nonceStr: noncestr,
                signature: d.signature,
                jsApiList: [
                    'checkJsApi',
                    'onMenuShareTimeline', 'onMenuShareAppMessage',
                    'onMenuShareQQ', 'onMenuShareQZone', 'onMenuShareWeibo',
                    'updateAppMessageShareData', 'updateTimelineShareData'
                ]
            });

            wx.ready(function () {  
                wx.onMenuShareTimeline(shareOptions);
                wx.onMenuShareAppMessage(shareOptions);
                wx.onMenuShareQQ(shareOptions);
                wx.onMenuShareQZone(shareOptions);
                wx.onMenuShareWeibo(shareOptions);

                wx.checkJsApi({
                    jsApiList: ['updateAppMessageShareData', 'updateTimelineShareData'],
                    success: function(res) {
                        // 以键值对的形式返回，可用的api值true，不可用为false
                        // 如：{"checkResult":{"chooseImage":true},"errMsg":"checkJsApi:ok"}
                        console.log('checkJsApi: ', res);
                        if (res.checkResult) {
                            if (res.checkResult.updateTimelineShareData && res.checkResult.updateTimelineShareData != "no") {
                                wx.updateTimelineShareData(shareOptions);
                            }
                            if (res.checkResult.updateAppMessageShareData && res.checkResult.updateAppMessageShareData != "no") {
                                wx.updateAppMessageShareData(shareOptions);
                            }
                        }
                    }
                });
            });
        }
        $.ajax({
            type: 'get',
            url: '{{wechat_signature_url}}',
            dataType: 'json',
            data: {sid: '{{wechat_sid}}', noncestr: noncestr, timestamp: timestamp, url: location.href},
            success: function(d) {
                console.log('signaure: ', d);
                fInitWeixin(d);
            }
        })
    });
</script>
<!-- End WeChat Share Code -->